/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 23, 2019, 12:31:28 AM
    Author     : Norm
*/

@import "common";

footer {
    /*border: 3px solid red;*/
    width: 100%;
    margin: 0 auto;
    
    .upper-part {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #d8d3c2;
      padding-left: 10%;
      padding-right: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include max-mixin(1100px) {
          flex-direction: column;
          align-items: center;
      }
      .center {
/*        font-family: 'Open Sans Semi-Bold';
        font-size: 24px;*/
      }
      .left {
          /*border: 2px solid red;*/
          @extend %font-h8;
          font-size: 64px;
      }

      .center, .right {
          @extend %font-p5;
      }
    }
    .lower-part {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #957a2b;
      font-size: 16px;

      .credit-brand {
        @extend %font-credit-brand;
        /*font-weight: bold;*/
      }
      .credit-name {
        @extend %font-credit-name;
        /*font-weight: bold;*/
      }
      .credit-tagline {
        @extend %font-credit-tagline;
      }
    }
}

